# Dipendenze
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/

# Ambiente
.env
.env.local
.env.production

# Storage
storage/videos/*
storage/posters/*
storage/subtitles/*
storage/avatars/*
!storage/videos/.gitkeep
!storage/posters/.gitkeep
!storage/subtitles/.gitkeep
!storage/avatars/.gitkeep

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Log
*.log
npm-debug.log*

# Test
coverage/

# Docker
docker-compose.override.yml

# Prisma
backend/prisma/*.db

# Misc
*.tsbuildinfo
