# SERVER
NODE_ENV=development
PORT=3000

# DATABASE
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DB_NAME

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:5173

# STORAGE
STORAGE_PATH=../storage
UPLOAD_MAX_SIZE=5368709120

# FFMPEG
FFMPEG_PATH=/usr/bin/ffmpeg
